@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora:wght@400;700&family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
  font-size: 62.5%;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-2xl font-display font-bold;
}

h2 {
  @apply text-xl font-display;
}

h3 {
  @apply text-lg font-display;
}

h4 {
  @apply text-base font-display;
}

h5 {
  @apply text-sm font-display;
}

h6 {
  @apply text-xs font-display;
}

p {
  @apply text-p font-sans; /* Apply custom font size for paragraphs */
}